<%# views/conversation.ejs %>

    <% extend('template') %>

        <div id='messageArea' class='row'>
            <div class='col-md-5' style="overflow-y: scroll; height:90%;">
                <div class="container" id="HelpWindow">
                    <div class="input-group">
                        <input type="text" class="form-control" id="query" placeholder="What would you like to say?">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="googTranslate()">Translate</button>
                    </span>
                    </div>
                    <!-- /input-group -->
                    <div class='transTextContainer'></div>
                </div>
            </div>
            <div class='col-md-4' id="chat">
                <div class="container" id="ConvoWindow">
                    <div class='container' id='messageBox'></div>
                    <div class="container" id="messageFormDiv">
                        <form id='messageForm'>
                            <div class="form-group">
                                <label>Enter Message</label>
                                <textarea class='form-control' id='message' onkeydown="sendMessage(event)"></textarea>
                                <input type='submit' class='btn btn-primary' value='Send Message' id="send"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class='col-md-2' style="overflow-y:scroll; height:90%;">
                <div class="container" id="HistWindow"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="js/chat.js"></script>
        <script src='js/events.js'></script>
        <script src='/socket.io/socket.io.js'> </script>
        <script>
        function sendMessage(e){
            if(e.keyCode == 13){
                $("#send").submit();
            }
        }
        </script>