<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>The Language App!</title>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/css/landing.css"></link>
	</head>
    
    <body>
       <div class="jumbotron">
            <h1>Welcome to the Language App!</h1>
            <p>The best way to learn a new language</p>
            <p><a class="btn btn-lg" href="/conversation" role="button">Get Started</a></p>
        </div>
    </body>

    <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous">
    </script>
	<script src='js/bootstrap.min.js' type='text/javascript'></script>
    <script src='js/events.js' type='text/javascript'></script>
</html>