<%# views/login.ejs %>
 
<% extend('template') %>

<div class="container" id="loginContainer">
    <h1> Login with Facebook </h1>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Email</button>
      </span>
      <input type="text" class="form-control" placeholder="">
    </div><!-- /input-group -->

    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Password</button>
      </span>
      <input type="text" class="form-control" placeholder="">
    </div><!-- /input-group -->

    <p><a class="btn btn-lg" id="loginBtn" href="#" role="button">Login</a></p>
</div>